nav {
    display: flex;
    justify-content: flex-end;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none; /* Que no salgan los puntos de la lista*/
    gap: 10px; /* Separar */
    a{
        text-decoration: none;
        color: rgb(226, 223, 43);
        font-size: 30px;
        padding: 25px 10px;
        background-color: rgb(236, 7, 7);
    }
}

.nav-list a:hover{
    background-color: aqua;
}