* {
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}