* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(9, 31, 41);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;

}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

@media (min-width: 600px){
    .wide {
        grid-column: span 2;
    }
    .tall {
        grid-row: span 2;
    }
}