/* Cabecera con menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 68, 2);
    padding: 10px;
}

nav h1 {
    color: aliceblue;
    padding-left: 30px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none; /* Que no salgan los puntos de la lista*/
    gap: 5px; /* Separar */
    padding-right: 30px;
    a{
        text-decoration: none;
        color: rgb(119, 68, 2);
        font-size: 30px;
        padding: 15px 10px;
        border-radius: 10px;
        background-color: rgb(236, 182, 7);
    }
}
.nav-list a:hover{
    background-color: aqua;
}

/* Hero con imagen de fondo y más */
.cta-container {
    background-image: url('coffee-hero-section.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-align: center;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-text {
    color: rgb(119, 68, 2);
    background-color: rgb(236, 182, 7);
    padding: 10px 5px;
    font-size: 28px;
    font-weight: bold;
}

.cta-button {
    background-color: rgb(119, 68, 2);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase; /* Poner el texto en mayúsculas */
}