* {
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Con "Número"fr se asigna una fracción de la pantalla*/
    grid-template-rows: 200px 200px 200px;                                     /*Ejemplo: 1fr*/
    gap: 15px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 2px rgb(255, 65, 176);
    border-radius: 10px;
    background-color: burlywood;
}

.grid-item:hover {
    transform: scale(1.03);
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 3;
}