* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 68, 2);
    padding: 20px;
}

nav h1 {
    color: aliceblue;
    padding-left: 30px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none; /* Que no salgan los puntos de la lista*/
    gap: 5px; /* Separar */
    padding-right: 30px;
    a{
        text-decoration: none;
        color: rgb(119, 39, 2);
        font-size: 30px;
        padding: 15px 10px;
        border-radius: 10px;
        background-color: rgb(223, 180, 124);
    }
}
.nav-list a:hover{
    background-color: aqua;
}

#menu-section {
    background-color: rgb(37, 36, 36);
    color: aliceblue;
}

#menu-section .section-title {
    text-align: center;
    padding: 10px 0 30px;
    font-size: 2rem;
}

#menu-section .menu-list {
    display: flex;
    flex-wrap: wrap; /* Si no caben se pasa a la siguiente línea*/
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

#menu-section .menu-list .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: calc(100% / 3 - 40px);
}

#menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
}

#menu-section .menu-list .menu-item p {
    text-align: center;
}

.pie-pagina {
    background-color: rgb(37, 36, 36);
    color: aliceblue;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; /* Separa el copyright a la izq y links a la der */
    align-items: center;
}