:root {
    --color1-:rgb(119, 68, 2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1-);
    padding: 20px;
}

nav h1 {
    color: aliceblue;
    padding-left: 30px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none; /* Que no salgan los puntos de la lista*/
    gap: 5px; /* Separar */
    padding-right: 30px;
    a{
        text-decoration: none;
        color: rgb(119, 39, 2);
        font-size: 30px;
        padding: 15px 10px;
        border-radius: 10px;
        background-color: rgb(223, 180, 124);
    }
}
.nav-list a:hover{
    background-color: aqua;
}

#menu-section {
    background-color: rgb(37, 36, 36);
    color: aliceblue;
}

#menu-section .section-title {
    text-align: center;
    padding: 10px 0 30px;
    font-size: 2rem;
}

#menu-section .menu-list {
    display: flex;
    flex-wrap: wrap; /* Si no caben se pasa a la siguiente línea*/
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

#menu-section .menu-list .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: calc(100% / 3 - 40px);
}

#menu-section .menu-list .menu-item .menu-image {
    max-width: 83%;
    aspect-ratio: 1;
}

#menu-section .menu-list .menu-item p {
    text-align: center;
}

#pie-pagina footer {
    display: flex;
    justify-content: space-between; /* Un elemento a cada extremo */
    align-items: center;
    padding: 20px; /* Espacio interno */
}

.policy {
    display: flex;              /* Poner los links uno al lado del otro */
    gap: 20px;                  /* Espacio entre los links */
    list-style: none;           /* Quita los puntos de la lista */
}

.policy a {
    text-decoration: none;      /* Quitar subrayado */
}