/* Montserrat Light 300 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --primary-blue: #074167;
    --dark-blue: #143548;
    --background-light: #ffebd9;
    --hover-light: #CCB299;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: var(--background-light);
    color: var(--dark-blue);
}

/* --- HEADER --- */
header {
    background-color: var(--dark-blue);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav button {
  display: none;
  font-size: 30px;
  background-color: var(--hover-light);
  border: none;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Enlaces generales */
a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* Pointer en elementos que se clican */
a, button, input[type="button"], input[type="submit"], .logo img {
    cursor: pointer;
}

/* Hover de enlaces */
nav ul li a:hover,
footer a:hover {
    color: var(--hover-light);
}

.logo img {
    transition: transform 0.25s ease;
    display: block; /* Sin espacio extra abajo */
}

.logo img:hover {
    transform: rotate(300deg);
}

/* --- BARRA DE BÚSQUEDA --- */
.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search input {
    padding: 8px 15px;
    border: none;
    background-color: var(--background-light);
    color: var(--dark-blue);
    border-radius: 20px;
    outline: none;
    transition: transform 0.25s ease;
}

.search input::placeholder {
    color: var(--primary-blue);
    opacity: 0.7;
}

.search input:hover {
    transform: scale(1.05);
}

/* Botón Lupa */
.search button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: white;
    transition: transform 0.25s ease, color 0.25s ease;
}

.search button:hover {
    transform: scale(1.3);
    color: var(--hover-light);
}

/* IMAGEN CENTRAL */
.cta-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('gato fondo.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Título */
h1 {
    color: var(--dark-blue);
    font-size: 5rem;
    font-weight: 300;
    text-shadow: none; /* para que el texto se lea mejor sobre la imagen */
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: white;
}

/* Franja superior*/
.footer-copy {
    background-color: var(--primary-blue);
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-copy h3 {
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: white;
}

/* Franja inferior*/
.footer-menu {
    background-color: var(--dark-blue);
    padding: 50px; /* para centrar el contenido */
    display: flex;
    justify-content: space-between; /* Separar las columnas */
    gap: 20px;
}

.footer-menu div {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.footer-menu h3 {
    margin-bottom: 20px;
    color: var(--background-light);
    font-size: 1.2rem;
}

.footer-menu a {
    color: white;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

@media (max-width: 800px){
    .footer-menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu{
        display: none;
    }
    nav button {
    display: block;
  }
}